._GCENTER {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

._PCENTERY {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

._PCENTERX {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

._BACKGROUND {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

